{chart:type=gantt|width=1024|height={{ 60 + parameters.tasks|length * 25 }}|columns=,,1,2,3,4|dateFormat=dd/MM/yyyy}
|| Current || Start || End || % Done ||
{% for task in parameters.tasks -%}
| {{ task.key }} | {{ task.start_date|format_date("%d/%m/%Y") }} | {{ task.end_date|format_date("%d/%m/%Y") }} | {{ task.progress_in_percent if task.progress_in_percent is not none }}% |
{% endfor -%}
{chart}
